/*Imports*/
@import "layouts/header";
@import "layouts/banners";
@import "layouts/galeria";
@import "layouts/footer";
@import "responsive/mobile";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

body{
    width: 100%;

    .contenedor{
        width: 100%;
        margin: 0;
        max-width: 1400px;
    }
}

.logo{
    padding-top: 3vh;
    padding-left: 4vw;
    height: 29vh;

}

.prueba{

    font-size: 50px;
    
    background-image: url(../images/banner4.jpg);
    height: 200px;
    width: 200px;
    background-position: center center;
}