/*Imports*/
@import "layouts/header";
@import "layouts/banners";
@import "layouts/galeria";
@import "layouts/footer";
@import "responsive/mobile";

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;   
}

body{
    
    width: 100%;

    
}

.flechaSiguiente{
    transition: 0.7s ease all;
}

.flechaSiguiente:hover{
    transform: scalex(1.1);
}

