

footer{
    height: 30vh;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    p{
        color: rgb(173, 169, 169);
        font-size: 0.9rem;
        font-weight: normal;
        margin-bottom: 0;
    }
    a{
        color: #9c855d;
        padding: 0 0.5vw;
        font-size: 0.9rem;        
    }
    a:hover{
        color: #9c855d;
        padding: 0 0.5vw;
        font-size: 0.9rem;        
    }
}

.footer__redes{
    width: 50vw;

    .fab{
        width: 30px;
        height: 30px;
        font-size: 1.4rem;
        color: #9c855d;
        padding: 0 1.5vw;
        padding-bottom: 5vh;
        
    }
}