
.galeria{
    height: 180vh;
    background-color: black;

    .container{
        width: 42vw;
        height: 30vh;
        color: #ffffff;        

        h3{
            padding-top: 20vh;
            text-transform: uppercase;            
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 3px;
            font-size: 1.7rem;
            border-bottom: #8a6f3f solid 3px;
            width: 22vw;
            text-align: center;
        }

        p{
            padding-left: 1.5vw;
            padding-right: 1.5vw;
            font-size: 0.9rem;
            font-weight: 400;
            text-align: center;
            
        }
    }

    .galeria__fotos{
        padding-top: 20vh;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 2fr,2fr ;
        grid-template-columns: 2fr,2fr ;
        grid-template-rows: repeat(3, 2fr);
        grid-gap: 0;
        grid-template-areas:
        "img1   img2"
        "img3   img4"
        "img5   img6"
        ;
        width: 60vw;
        height: fit-content;

        
        .sprite-galeria_1{
            -ms-grid-row: 1;
            -ms-grid-column:1;
            grid-area: img1;
            width: 28vw; 
            height: 34vh;
             
            background:url(../images/galeria_1.jpg) no-repeat;                
            background-size: contain;    
        }

        .sprite-galeria_2{
            -ms-grid-row: 1;
            -ms-grid-column:2;
            grid-area: img2;
            width: 28vw; 
            height: 34vh;
             
            background:url(../images/galeria_2.jpg) no-repeat;                
            background-size: contain;    
        }

        .sprite-galeria_3{
            -ms-grid-row: 2;
            -ms-grid-column:1;
            grid-area: img3;
            width: 28vw; 
            height: 34vh; 
            background:url(../images/galeria_3.jpg) no-repeat;
            background-size: contain;    
        }

        .sprite-galeria_4{
            -ms-grid-row: 2;
            -ms-grid-column:2;
            grid-area: img4;
            width: 28vw; 
            height: 34vh;
            background:url(../images/galeria_4.jpg) no-repeat;                
            background-size: contain;    
        }

        .sprite-galeria_5{
            -ms-grid-row: 3;
            -ms-grid-column:1;
            grid-area: img5;
            width: 28vw; 
            height: 34vh; 
            background:url(../images/galeria_5.jpg) no-repeat;                
            background-size: contain;    
        }

        .sprite-galeria_6{
            -ms-grid-row: 3;
            -ms-grid-column:2;
            grid-area: img6;
            width: 28vw; 
            height: 34vh; 
            background:url(../images/galeria_6.jpg) no-repeat;                
            background-size: contain;    
        }
    

    }


    .overlay{
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
    }

    .overlay.active{
        visibility: visible;
    }

    .popup{
        width: 700px;
        height: 394px;
        opacity: 0;
        transform: scale(0.7);
        transition: 0.5s ease all;


        
        div.imagen{
            width: 700px;
            height: 394px;

            .btn-cerrar-popup{
                
                                
                font-size: 16px;
                
                display: flex;
                justify-content: flex-end;                
                color: gray;
                transition: .3s ease all;
                text-decoration: none;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.5);
                    margin-top: 5px;
                    margin-right: 5px;
                    padding: 5px;
                    width: 20px;
                    height: 20px;
                    
                }
            }
            .btn-cerrar-popup:hover{
                color: black;
            }

            .cambioDeFoto{

                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 20vh 10px;
                #btn-anterior , #btn-siguiente{
                    font-size: 50px;
                    opacity: 0.7;
                    color: #1a1102;
                    
                }

                #btn-anterior:hover , #btn-siguiente:hover{
                    color: #7a5e28;
                }
            }

            
        }

        .texto{
            background: rgba(0, 0, 0, 0.7);
            padding-left: 6px;
            padding-top: 4px;
            font-size: 15px;
            color: white;
        }

        
    }

    .popup.active{
        opacity: 1;
        transform: scale(1);

    }
}